body {
  margin: 0;
  font-size: 18px;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: bisque;
  /* cursor: url("/images/crayon.png"), auto; */
  /*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;*/
}

body > div {
  flex: 1;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-intro p {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
  color: #3e3e3e;
  text-decoration: none;
}

.game-intro p a {
  text-decoration: none;
}

.logo-img {
  width: 45%;
}

/* body button {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  background-color: #3e3e3e;
  color: #fff;
  padding: 20px 30px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f8967a;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: none;
} */

#game-board {
  position: relative;
  /* margin: 0px 60px; */
}

#game-board canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  transform: translate(-50%, -50%);
  width: 16%;
  margin-top: 43px;
}

.btn {
  margin-top: 25px;
  position: relative;
  display: inline-block;
  width: 248px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  /* -webkit-transition: all 600ms ease; */
  transition: all 600ms ease;
}

.btn span {
  font-family: "Roboto";
  font-size: 20px;
  background: -moz-linear-gradient(left, #f9942a 0%, #f36d7c 100%);
  background: -webkit-linear-gradient(left, #f9942a 0%, #f36d7c 100%);
  background: linear-gradient(to right, #f9942a 0%, #f36d7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

#btn-info {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px 10px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  transition-duration: 0.2s;
}

#btn-info:hover {
  background-color: #f8967a;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#btn-info:focus {
  outline: none;
}

#btn-info a {
  color: white;
}
